## Python Basics

[Python Basics](https://colab.research.google.com/github/cs231n/cs231n.github.io/blob/master/python-colab.ipynb)

In case you have never programmed with Python before, we added a link to another google colab notebook that includes a Python Tutorial written by Justin Johnson, Volodymyr Kuleshov, Isaac Caswell and Kevin Zakka for the Standford CS class on Convolutional Neural Networks for Visual Recognition. 

This tutorial starts with the basics and also shortly explains the Python packages Numpy and Matplotlib which are important to know when when working on a machine learning project with Python.

It misses some important information on Python which is on indentation and comments. We included those topics below. Also some aspects of Python such as if..else and different loops are only mentioned inside code snippets. So some more information can be found in this notebook.

At the end of this notebook you will find some exercises to test your Python knowledge. This notebook together with the links we provide should contain all the information you need to finish those exercises.

**Important**: You can run the code inside the code snippets by selecting them and then by clicking on the `Run` button in the top menu. You can also select the code snippet/block and then press Ctrl + Enter.

### Indentation

[Python Syntax](https://www.w3schools.com/python/python_syntax.asp)

With Python, indentation is a very important part of the syntax. This refers to the spaces at the beginning of a code line. Where other languages often use curly brackets to indicate a block of code, Python uses indentation.

It is common to use four spaces to indicate a block of code, but this is up to you. It should at least be one.
You should also use the same number of spaces in the same block of code.

### Comments

[Python Comments](https://www.w3schools.com/python/python_comments.asp)

You can write a comment using `#` at the start of the line. This is for a single line comment.

To write multiline comments you can use `'''`  both at the start and end of your comment to define a multiline string. Note: it is not intended to be a multiline comment but as Python will ignore string literals that are not assigned to a variable, you can add your comment in here. Python will ignore this code as long as you do not assign it to a variable.

### If...Else

[Python If .. Else](https://www.w3schools.com/python/python_conditions.asp)

The code snippets below show you how you can write an `if` statement. Again, remember that indentation is important in Python. You will get an error if you write an `if` statement without indentation afterwards.

You can add another condition check by adding `elif`, which is short for else if. Or if you want alternative code to be executed if the preceding conditions are not met you can add `else`.

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a")

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

Short hand `if` and `if .. else`

In [ ]:
if a > b: print("a is greater than b")

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

Nested `if`, where you have an `if` statement (or multiple) inside an `if` statement:

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Finally, an `if` statement cannot be empty, but you can add `pass` to execute the code without errors and handle the `if` statement:

In [ ]:
a = 33
b = 200

if b > a:
  pass

print("I passed the previous if statement")

### While Loops

[Python Loops](https://www.w3schools.com/python/python_while_loops.asp)

The code snippets below show you how to construct a `while` loop in Python. With such a loop you can execute a set of statements as long as a condition is true. Remember to include statements inside your while loop that eventually make this condition false, otherwise your loop will continue forever. For example, in the code snippet below, it is important that the `i` variable is incremented otherwise the code would get stuck in this loop. Moreover, the `while` loop requires relevant variables to be defined beforehand.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

There is one way to stop the loop even while the condition is still true, that is by using the `break` statement:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

Somewhat similar, you can use the `continue` statement to stop the current iteration and continue with the next:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

Even with a `while` statement you can add an `else` statement to the end to execute a block of code when the loop condition is no longer true:

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

### For Loops

[Python For Loops](https://www.w3schools.com/python/python_for_loops.asp)

The code snippets below include examples on how to use a `for` loop in Python. With such a loop you can iterate over either a list, tuple, dictionary, set or string. With a `for` loop you do not need to set an indexing variable beforehand.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

As mentioned, you can also iterate over strings as they contain a sequence of characters.

In [ ]:
for x in "banana":
  print(x)

To stop a `for` loop before it has looped through all items you can use the `break` statement.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

You can also use the `continue` statement to just stop the current iteration and continue with the next.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

With the `for` loop you can also use the `range()` function to loop through a set of code for a specified number of times. 

the `range(start,stop,step)` function takes three arguments. Here the start and step parameters are optional. Default start is set to 0 if not specified and default step is set to 1 if not specified. What it does is return a sequence of numbers starting from the start value (0 by default) and incrementing by the step value (1 by default) to end at the end value minus 1.

So if you use `range(6)` it will start at 0 and increment by 1 up and until the value 5.

Now you can use this to execute a piece of code for x number of times or you could provide the length of the sequence you want to iterate over and use the numbers in that `range()` return as indices for the sequence you are looping over.

In [ ]:
for x in range(6):
  print(x)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for i in range(len(fruits)):
  print(fruits[i])

In [ ]:
def say_hello():
  print("hello")

for i in range(3):
  say_hello()

In [ ]:
for x in range(2, 30, 3):
  print(x)

You can also add the `else` case to a `for` loop to specify a block of code to be executed when the loop is finished. This block of code will not be executed when the for loop is stopped by a `break` statement.

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

There is the posibility to nest `for` loops.

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

You can also put a `pass` statement inside the `for` loop to create an empty `for` loop. It is not possible to create an empty `for` loop in any other way.

In [ ]:
for x in [0, 1, 2]:
  pass

## Exercises

Below you will find several exercises which are part from the Kaggle notebook [101-exercises](https://www.kaggle.com/code/ryanorsinger/101-exercises/notebook) (Created by [Ryan Orsinger](https://ryanorsinger.com), Source code on [https://github.com/ryanorsinger/101-exercises](https://github.com/ryanorsinger/101-exercises)). We did not copy all exercises but only a selection. Feel free to try out the remaining found on Kaggle. Just a reminder that these exercises are here to test your Python knowledge and are not mandatory. However, they might be fun to do :)

You will find example answers to the exercises below at the end of this notebook.

**Important notes from the Kaggle 101-exercises notebook**

**Troubleshooting**

- "Name Error" means that you need to assign a variable or define the function as instructed.
- "Assertion Error" means that your provided solution does not match the correct answer.
- "Type Error" means that your data type provided is not accurate

**What to do when you don't know what to do next**
- When the exercise asks you to reverse an list, the way forward is to search for "How to reverse a list in Python" in your favorite search engine.
- When the exercise asks you to check if a number is even, the way forward is to search for "how to check if a number is even in Python".
- When the exercise has you calculate the area of a circle, the way forward is to search for "how to calculate the area of a circle in Python" or "How to get pi in Python".

> The pattern for finding what you need is to rely very heavily on search engine searches so you can find examples of working code and discussions about code that speak to your questions.

**Example Exercise**

Uncomment the firt line below and run the cell.

The hashtag `#` character in a line of Python code is the comment character.

In [ ]:
# doing_python_right_now = True

# The lines below will test your answer. If you see an error, then it means that your answer is incorrect or incomplete.
assert doing_python_right_now == True, "If you see a NameError, it means that the variable is not created and assigned a value. An 'Assertion Error' means that the value of the variable is incorrect." 
print("Exercise 0 is correct") # This line will print if your solution passes the assertion above.

**Exercise 4**

Create a variable named numbers and assign it a list of numbers, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10

In [ ]:

assert numbers == [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "Ensure the variable contains the numbers 1-10 in order."
print("Exercise 4 is correct.")

### List Operations

**Hint** Recommend finding and using built-in Python functionality whenever possible.

**Exercise 5**

Given the following assigment of the list of fruits, add "tomato" to the end of the list.

In [ ]:
fruits = ["mango", "banana", "guava", "kiwi", "strawberry"]

assert fruits == ["mango", "banana", "guava", "kiwi", "strawberry", "tomato"], "Ensure the variable contains all the strings in the right order"
print("Exercise 5 is correct")

**Exercise 9**

Write the code necessary to sort the fruits in reverse alphabetical order.

In [ ]:

assert fruits == ['tomato', 'strawberry', 'mango', 'kiwi', 'guava', 'banana']
print("Exercise 9 is correct.")

### Basic Functions

![](http://)**Hint** Be sure to `return` values from your function definitions. The assert statements will call your function(s) for you.

In [ ]:
# Run this cell in order to generate some numbers to use in our functions after this.
import random
    
positive_even_number = random.randrange(2, 101, 2)
negative_even_number = random.randrange(-100, -1, 2)

positive_odd_number = random.randrange(1, 100, 2)
negative_odd_number = random.randrange(-101, 0, 2)
print("We now have some random numbers available for future exercises.")
print("The random positive even number is", positive_even_number)
print("The random positive odd nubmer is", positive_odd_number)
print("The random negative even number", negative_even_number)
print("The random negative odd number", negative_odd_number)

**Example function definition:**

Write a say_hello function that adds the string "Hello, " to the beginning and "!" to the end of any given input.

In [ ]:
def say_hello(name):
    return "Hello, " + name + "!"

assert say_hello("Jane") == "Hello, Jane!", "Double check the inputs and data types"
assert say_hello("Pat") == "Hello, Pat!", "Double check the inputs and data types"
assert say_hello("Astrud") == "Hello, Astrud!", "Double check the inputs and data types"
print("The example function definition ran appropriately")

**Another example function definition:**

This plus_two function takes in a variable and adds 2 to it.

In [ ]:
def plus_two(number):
    return number + 2

assert plus_two(3) == 5
assert plus_two(0) == 2
assert plus_two(-2) == 0
print("The plus_two assertions executed appropriately... The second function definition example executed appropriately.")

**Exercise 15**

Write a function definition named is_even that takes in a number and returns True or False if that number is even.

In [ ]:

assert is_even(2) == True, "Ensure that the function is defined, named properly, and returns the correct value"
assert is_even(positive_odd_number) == False, "Ensure that the function is defined, named properly, and returns the correct value"
assert is_even(positive_even_number) == True, "Ensure that the function is defined, named properly, and returns the correct value"
assert is_even(negative_odd_number) == False, "Ensure that the function is defined, named properly, and returns the correct value"
assert is_even(negative_even_number) == True, "Ensure that the function is defined, named properly, and returns the correct value"
print("Exercise 15 is correct.")

**Exercise 28**

Write a function definition named is_multiple_of_both_three_and_five that takes in a number and returns True or False if the number is evenly divisible by both 3 and 5.

In [ ]:

assert is_multiple_of_both_three_and_five(15) == True
assert is_multiple_of_both_three_and_five(45) == True
assert is_multiple_of_both_three_and_five(3) == False
assert is_multiple_of_both_three_and_five(9) == False
assert is_multiple_of_both_three_and_five(4) == False
print("Exercise 28 is correct.")

**Exercise 37**

Write a function definition named remainder that takes in two numbers and returns the remainder of first argument divided by the second argument.

In [ ]:

assert remainder(3, 3) == 0
assert remainder(5, 2) == 1
assert remainder(7, 5) == 2
print("Exercise 37 is correct.")

**Exercise 43**

Write a function definition named is_vowel that takes in value and returns True if the value is a, e, i, o, u in upper or lower case.

In [ ]:

assert is_vowel("a") == True
assert is_vowel("e") == True
assert is_vowel("i") == True
assert is_vowel("o") == True
assert is_vowel("u") == True
assert is_vowel("A") == True
assert is_vowel("E") == True
assert is_vowel("I") == True
assert is_vowel("O") == True
assert is_vowel("U") == True
assert is_vowel("banana") == False
assert is_vowel("Q") == False
assert is_vowel("y") == False
assert is_vowel("aei") == False
assert is_vowel("iou") == False
print("Exercise 43 is correct.")

**Exercise 46**

Write a function definition named remove_vowels that takes in string and returns the string without any vowels

In [ ]:

assert remove_vowels("banana") == "bnn"
assert remove_vowels("ubuntu") == "bnt"
assert remove_vowels("mango") == "mng"
assert remove_vowels("QQQQ") == "QQQQ"
print("Exercise 46 is correct.")

### Accessing List Elements

**Exercise 55**

Write a function definition named second_to_last that takes in sequence and returns the second to last value of that sequence.

In [ ]:

assert second_to_last("ubuntu") == "t"
assert second_to_last([1, 2, 3, 4]) == 3
assert second_to_last(["python", "is", "awesome"]) == "is"
assert second_to_last(["kiwi", "mango", "guava"]) == "mango"
print("Exercise 55 is correct.")

**Exercise 59**

Write a function definition named first_to_last that takes in sequence and returns the sequence with the first value moved to the end of the sequence.

In [ ]:

assert first_to_last([1, 2, 3, 4]) == [2, 3, 4, 1]
assert first_to_last(["python", "is", "awesome"]) == ["is", "awesome", "python"]
assert first_to_last(["strawberry", "kiwi", "mango", "guava"]) == ["kiwi", "mango", "guava", "strawberry"]
print("Exercise 59 is correct.")

### Functions to describe data

**Exercise 62**

Write a function definition named median that takes in sequence of numbers and returns the pivot value

In [ ]:
     
assert median([1, 2, 3, 4, 5]) == 3.0
assert median([1, 2, 3]) == 2.0
assert median([1, 5, 6]) == 5.0
assert median([1, 2, 5, 6]) == 3.5
print("Exercise 62 is correct.")

**Exercise 64**

Write a function definition named product_of_all that takes in sequence of numbers and returns the product of multiplying all the numbers together

In [ ]:

assert product_of_all([1, 2, 3]) == 6
assert product_of_all([3, 4, 5]) == 60
assert product_of_all([2, 2, 3, 0]) == 0
print("Exercise 64 is correct.")

### Applying functions to lists

**Exercise 68**

Write a function definition named only_even_numbers that takes in sequence of numbers and returns the even numbers in a list.

In [ ]:

assert only_even_numbers([1, 2, 3]) == [2]
assert only_even_numbers([-5, -4, -3, -2, -1, 1, 2, 3, 4, 5]) == [-4, -2, 2, 4]
assert only_even_numbers([-4, -3, 1]) == [-4]
assert only_even_numbers([1, 1, 1, 1, 1, 1]) == []
print("Exercise 68 is correct.")

**Exercise 71**

Write a function definition named has_evens that takes in sequence of numbers and returns True if there are any even numbers in the sequence

In [ ]:

assert has_evens([1, 2, 3]) == True
assert has_evens([2, 5, 6]) == True
assert has_evens([3, 3, 3]) == False
assert has_evens([]) == False
print("Exercise 71 is correct.")

## Working with sets

**Hint** Take a look at the `set` function in Python, the `set` data type, and built-in `set` methods.

In [ ]:
# Example set function usage
print(set("kiwi"))
print(set([1, 2, 2, 3, 3, 3, 4, 4, 4, 4]))

**Exercise 83**

Write a function definition named get_unique_values that takes in a list and returns a set with only the unique values from that list.

In [ ]:

assert get_unique_values(["ant", "ant", "mosquito", "mosquito", "ladybug"]) == {"ant", "mosquito", "ladybug"}
assert get_unique_values(["b", "a", "n", "a", "n", "a", "s"]) == {"b", "a", "n", "s"}
assert get_unique_values(["mary", "had", "a", "little", "lamb", "little", "lamb", "little", "lamb"]) == {"mary", "had", "a", "little", "lamb"}
print("Exercise 83 is correct.")

**Exercise 85**

Write a function definition named get_values_in_common that takes two lists and returns a single set with the values that each list has in common

In [ ]:

assert get_values_in_common([5, 1, 2, 3], [3, 4, 5, 5]) == {3, 5}
assert get_values_in_common([1, 2], [2, 2, 3]) == {2}
assert get_values_in_common(["tomato", "mango", "kiwi"], ["eggplant", "tomato", "broccoli"]) == {"tomato"}
print("Exercise 85 is correct.")

**Exercise 86**

Write a function definition named get_values_not_in_common that takes two lists and returns a single set with the values that each list does not have in common

In [ ]:

assert get_values_not_in_common([5, 1, 2, 3], [3, 4, 5, 5]) == {1, 2, 4}
assert get_values_not_in_common([1, 1], [2, 2, 3]) == {1, 2, 3}
assert get_values_not_in_common(["tomato", "mango", "kiwi"], ["eggplant", "tomato", "broccoli"]) == {"mango", "kiwi", "eggplant", "broccoli"}
print("Exercise 86 is correct.")

## Working with Dictionaries

In [ ]:
# Run this cell in order to have these two dictionary variables defined.
tukey_paper = {
    "title": "The Future of Data Analysis",
    "author": "John W. Tukey",
    "link": "https://projecteuclid.org/euclid.aoms/1177704711",
    "year_published": 1962
}

thomas_paper = {
    "title": "A mathematical model of glutathione metabolism",
    "author": "Rachel Thomas",
    "link": "https://www.ncbi.nlm.nih.gov/pubmed/18442411",
    "year_published": 2008
}

**Exercise 87**

Write a function named get_paper_title that takes in a dictionary and returns the title property

In [ ]:

assert get_paper_title(tukey_paper) == "The Future of Data Analysis"
assert get_paper_title(thomas_paper) == "A mathematical model of glutathione metabolism"
print("Exercise 87 is correct.")

## Working with Lists of Dictionaries

**Hint** If you need an example of lists of dictionaries, see 
- [Getting Started With a List of Dictionaries](https://colab.research.google.com/github/ryanorsinger/list_of_dictionaries/blob/main/getting_started.ipynb)
- [Practice Exercises for List of Dictionaries](https://colab.research.google.com/github/ryanorsinger/list_of_dictionaries/blob/main/exercises.ipynb)
- [Companion Video](https://www.youtube.com/watch?v=pPdEahZgv8U)

In [ ]:
# Run this cell in order to have some setup data for the next exercises
books = [
    {
        "title": "Genetic Algorithms and Machine Learning for Programmers",
        "price": 36.99,
        "author": "Frances Buontempo"
    },
    {
        "title": "The Visual Display of Quantitative Information",
        "price": 38.00,
        "author": "Edward Tufte"
    },
    {
        "title": "Practical Object-Oriented Design",
        "author": "Sandi Metz",
        "price": 30.47
    },
    {
        "title": "Weapons of Math Destruction",
        "author": "Cathy O'Neil",
        "price": 17.44
    }
]

**Exercise 92**

Write a function named total_of_book_prices that takes in a list of dictionaries and returns the sum total of all the book prices added together

In [ ]:

assert total_of_book_prices(books) == 122.9
print("Exercise 92 is complete.")

**Exercise 94**

Write a function called highest_price_book that takes in the above defined list of dictionaries "books" and returns the dictionary containing the title, price, and author of the book with the highest priced book.

**Hint**: Much like sometimes start functions with a variable set to zero, you may want to create a dictionary with the price set to zero to compare to each dictionary's price in the list

In [ ]:

assert highest_price_book(books) == {
    "title": "The Visual Display of Quantitative Information",
    "price": 38.00,
    "author": "Edward Tufte"
}

print("Exercise 94 is complete")

In [ ]:
shopping_cart = {
    "tax": .08,
    "items": [
        {
            "title": "orange juice",
            "price": 3.99,
            "quantity": 1
        },
        {
            "title": "rice",
            "price": 1.99,
            "quantity": 3
        },
        {
            "title": "beans",
            "price": 0.99,
            "quantity": 3
        },
        {
            "title": "chili sauce",
            "price": 2.99,
            "quantity": 1
        },
        {
            "title": "chocolate",
            "price": 0.75,
            "quantity": 9
        }
    ]
}

**Exercise 99**

Write a function named get_average_item_price that takes in the shopping cart as an input and returns the average of all the item prices.

**Hint** - This should determine the total price divided by the number of types of items. This does not account for each item type's quantity.

In [ ]:

assert get_average_item_price(shopping_cart) == 2.1420000000000003
print("Exercise 99 is complete.")

**Exercise 100**

Write a function named get_average_spent_per_item that takes in the shopping cart and returns the average of summing each item's quanties times that item's price.

**Hint**: You may need to set an initial total price and total total quantity to zero, then sum up and divide that total price by the total quantity

In [ ]:

assert get_average_spent_per_item(shopping_cart) == 1.333529411764706
print("Exercise 100 is complete.")

**Exercise 101**

Write a function named most_spent_on_item that takes in the shopping cart as input and returns the dictionary associated with the item that has the highest price\*quantity.

Be sure to do this as programmatically as possible. 

**Hint**: Similarly to how we sometimes begin a function with setting a variable to zero, we need a starting place. Consider creating a variable that is a dictionary with the keys "price" and "quantity" both set to 0. You can then compare each item's price and quantity total to the one from "most"

In [ ]:

assert most_spent_on_item(shopping_cart) == {
    "title": "chocolate",
    "price": 0.75,
    "quantity": 9
}
print("Exercise 101 is complete.")

## Answers

**Exercise 4**

Create a variable named numbers and assign it a list of numbers, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10

In [ ]:
numbers = list(range(1,11))

assert numbers == [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "Ensure the variable contains the numbers 1-10 in order."
print("Exercise 4 is correct.")

**Exercise 5**

Given the following assigment of the list of fruits, add "tomato" to the end of the list.

In [ ]:
fruits = ["mango", "banana", "guava", "kiwi", "strawberry"]

fruits.append("tomato")

assert fruits == ["mango", "banana", "guava", "kiwi", "strawberry", "tomato"], "Ensure the variable contains all the strings in the right order"
print("Exercise 5 is correct")

**Exercise 9**

Write the code necessary to sort the fruits in reverse alphabetical order.

In [ ]:
fruits.sort(reverse=True)
assert fruits == ['tomato', 'strawberry', 'mango', 'kiwi', 'guava', 'banana']
print("Exercise 9 is correct.")

**Exercise 15**

Write a function definition named is_even that takes in a number and returns True or False if that number is even.

In [ ]:
def is_even(number):
    return number % 2 == 0

assert is_even(2) == True, "Ensure that the function is defined, named properly, and returns the correct value"
assert is_even(positive_odd_number) == False, "Ensure that the function is defined, named properly, and returns the correct value"
assert is_even(positive_even_number) == True, "Ensure that the function is defined, named properly, and returns the correct value"
assert is_even(negative_odd_number) == False, "Ensure that the function is defined, named properly, and returns the correct value"
assert is_even(negative_even_number) == True, "Ensure that the function is defined, named properly, and returns the correct value"
print("Exercise 15 is correct.")

**Exercise 28**

Write a function definition named is_multiple_of_both_three_and_five that takes in a number and returns True or False if the number is evenly divisible by both 3 and 5.

In [ ]:
def is_multiple_of_both_three_and_five(number):
    return (number % 3 == 0) and (number % 5 == 0)

assert is_multiple_of_both_three_and_five(15) == True
assert is_multiple_of_both_three_and_five(45) == True
assert is_multiple_of_both_three_and_five(3) == False
assert is_multiple_of_both_three_and_five(9) == False
assert is_multiple_of_both_three_and_five(4) == False
print("Exercise 28 is correct.")

**Exercise 37**

Write a function definition named remainder that takes in two numbers and returns the remainder of first argument divided by the second argument.

In [ ]:
def remainder(x,y):
    return x % y

assert remainder(3, 3) == 0
assert remainder(5, 2) == 1
assert remainder(7, 5) == 2
print("Exercise 37 is correct.")

**Exercise 43**

Write a function definition named is_vowel that takes in value and returns True if the value is a, e, i, o, u in upper or lower case.

In [ ]:
def is_vowel(char):
    return False if len(char) > 1 or len(char) < 1 else char.lower() in "aeiou"

assert is_vowel("a") == True
assert is_vowel("e") == True
assert is_vowel("i") == True
assert is_vowel("o") == True
assert is_vowel("u") == True
assert is_vowel("A") == True
assert is_vowel("E") == True
assert is_vowel("I") == True
assert is_vowel("O") == True
assert is_vowel("U") == True
assert is_vowel("banana") == False
assert is_vowel("Q") == False
assert is_vowel("y") == False
assert is_vowel("aei") == False
assert is_vowel("iou") == False
print("Exercise 43 is correct.")

**Exercise 46**

Write a function definition named remove_vowels that takes in string and returns the string without any vowels

In [ ]:
def remove_vowels(input_string):
    return "".join([char for char in input_string if not is_vowel(char)])

assert remove_vowels("banana") == "bnn"
assert remove_vowels("ubuntu") == "bnt"
assert remove_vowels("mango") == "mng"
assert remove_vowels("QQQQ") == "QQQQ"
print("Exercise 46 is correct.")

**Exercise 55**

Write a function definition named second_to_last that takes in sequence and returns the second to last value of that sequence.

In [ ]:
def second_to_last(seq):
    return seq[-2]

assert second_to_last("ubuntu") == "t"
assert second_to_last([1, 2, 3, 4]) == 3
assert second_to_last(["python", "is", "awesome"]) == "is"
assert second_to_last(["kiwi", "mango", "guava"]) == "mango"
print("Exercise 55 is correct.")

**Exercise 59**

Write a function definition named first_to_last that takes in sequence and returns the sequence with the first value moved to the end of the sequence.

In [ ]:
def first_to_last(l):
    el = l.pop(0)
    l.append(el)
    return l

assert first_to_last([1, 2, 3, 4]) == [2, 3, 4, 1]
assert first_to_last(["python", "is", "awesome"]) == ["is", "awesome", "python"]
assert first_to_last(["strawberry", "kiwi", "mango", "guava"]) == ["kiwi", "mango", "guava", "strawberry"]
print("Exercise 59 is correct.")

**Exercise 62**

Write a function definition named median that takes in sequence of numbers and returns the pivot value

In [ ]:
def median(seq):
    n = len(seq)
    s = sorted(seq)
    return (s[n//2-1]/2.0+s[n//2]/2.0, s[n//2]*1.0)[n % 2] if n else None
        
assert median([1, 2, 3, 4, 5]) == 3.0
assert median([1, 2, 3]) == 2.0
assert median([1, 5, 6]) == 5.0
assert median([1, 2, 5, 6]) == 3.5
print("Exercise 62 is correct.")

**Exercise 64**

Write a function definition named product_of_all that takes in sequence of numbers and returns the product of multiplying all the numbers together

In [ ]:
def product_of_all(seq):
    result = 1
    for x in seq:
        result *= x
    return result
    
assert product_of_all([1, 2, 3]) == 6
assert product_of_all([3, 4, 5]) == 60
assert product_of_all([2, 2, 3, 0]) == 0
print("Exercise 64 is correct.")

**Exercise 68**

Write a function definition named only_even_numbers that takes in sequence of numbers and returns the even numbers in a list.

In [ ]:
def only_even_numbers(seq):
    return [x for x in seq if is_even(x)]

assert only_even_numbers([1, 2, 3]) == [2]
assert only_even_numbers([-5, -4, -3, -2, -1, 1, 2, 3, 4, 5]) == [-4, -2, 2, 4]
assert only_even_numbers([-4, -3, 1]) == [-4]
assert only_even_numbers([1, 1, 1, 1, 1, 1]) == []
print("Exercise 68 is correct.")

**Exercise 71**

Write a function definition named has_evens that takes in sequence of numbers and returns True if there are any even numbers in the sequence

In [ ]:
def has_evens(seq):
    for el in seq:
        if is_even(el):
            return True
    else:
        return False

assert has_evens([1, 2, 3]) == True
assert has_evens([2, 5, 6]) == True
assert has_evens([3, 3, 3]) == False
assert has_evens([]) == False
print("Exercise 71 is correct.")

**Exercise 83**

Write a function definition named get_unique_values that takes in a list and returns a set with only the unique values from that list.

In [ ]:
def get_unique_values(seq):
    return set(seq)

assert get_unique_values(["ant", "ant", "mosquito", "mosquito", "ladybug"]) == {"ant", "mosquito", "ladybug"}
assert get_unique_values(["b", "a", "n", "a", "n", "a", "s"]) == {"b", "a", "n", "s"}
assert get_unique_values(["mary", "had", "a", "little", "lamb", "little", "lamb", "little", "lamb"]) == {"mary", "had", "a", "little", "lamb"}
print("Exercise 83 is correct.")

**Exercise 85**

Write a function definition named get_values_in_common that takes two lists and returns a single set with the values that each list has in common

In [ ]:
def get_values_in_common(seq1,seq2):
    return set(seq1).intersection(seq2)

assert get_values_in_common([5, 1, 2, 3], [3, 4, 5, 5]) == {3, 5}
assert get_values_in_common([1, 2], [2, 2, 3]) == {2}
assert get_values_in_common(["tomato", "mango", "kiwi"], ["eggplant", "tomato", "broccoli"]) == {"tomato"}
print("Exercise 85 is correct.")

**Exercise 86**

Write a function definition named get_values_not_in_common that takes two lists and returns a single set with the values that each list does not have in common

In [ ]:
def get_values_not_in_common(seq1,seq2):
    return set(seq1).symmetric_difference(seq2)

assert get_values_not_in_common([5, 1, 2, 3], [3, 4, 5, 5]) == {1, 2, 4}
assert get_values_not_in_common([1, 1], [2, 2, 3]) == {1, 2, 3}
assert get_values_not_in_common(["tomato", "mango", "kiwi"], ["eggplant", "tomato", "broccoli"]) == {"mango", "kiwi", "eggplant", "broccoli"}
print("Exercise 86 is correct.")

**Exercise 87**

Write a function named get_paper_title that takes in a dictionary and returns the title property

In [ ]:
def get_paper_title(paper):
    return paper['title']

assert get_paper_title(tukey_paper) == "The Future of Data Analysis"
assert get_paper_title(thomas_paper) == "A mathematical model of glutathione metabolism"
print("Exercise 87 is correct.")

**Exercise 92**

Write a function named total_of_book_prices that takes in a list of dictionaries and returns the sum total of all the book prices added together

In [ ]:
def total_of_book_prices(books):
    total = 0
    for book in books:
        total += book['price']
    return total

assert total_of_book_prices(books) == 122.9
print("Exercise 92 is complete.")

**Exercise 94**

Write a function called highest_price_book that takes in the above defined list of dictionaries "books" and returns the dictionary containing the title, price, and author of the book with the highest priced book.

**Hint**: Much like sometimes start functions with a variable set to zero, you may want to create a dictionary with the price set to zero to compare to each dictionary's price in the list

In [ ]:
def highest_price_book(books):
    result = {'price': 0.00}
    for book in books:
        if book['price'] > result['price']:
            result = book
    return result


assert highest_price_book(books) == {
    "title": "The Visual Display of Quantitative Information",
    "price": 38.00,
    "author": "Edward Tufte"
}

print("Exercise 94 is complete")

**Exercise 99**

Write a function named get_average_item_price that takes in the shopping cart as an input and returns the average of all the item prices.

**Hint** - This should determine the total price divided by the number of types of items. This does not account for each item type's quantity.

In [ ]:
def get_average_item_price(cart):
    price = 0
    items = cart['items']
    item_count = len(items)
    for item in items:
        price += item['price']
    return price/item_count

assert get_average_item_price(shopping_cart) == 2.1420000000000003
print("Exercise 99 is complete.")

**Exercise 100**

Write a function named get_average_spent_per_item that takes in the shopping cart and returns the average of summing each item's quanties times that item's price.

**Hint**: You may need to set an initial total price and total total quantity to zero, then sum up and divide that total price by the total quantity

In [ ]:
def get_average_spent_per_item(cart):
    price = 0
    quantity = 0
    items = cart['items']
    for item in items:
        quantity += item['quantity']
        price += item['price'] * item['quantity']
    return price / quantity

assert get_average_spent_per_item(shopping_cart) == 1.333529411764706
print("Exercise 100 is complete.")

**Exercise 101**

Write a function named most_spent_on_item that takes in the shopping cart as input and returns the dictionary associated with the item that has the highest price\*quantity.

Be sure to do this as programmatically as possible. 

**Hint**: Similarly to how we sometimes begin a function with setting a variable to zero, we need a starting place. Consider creating a variable that is a dictionary with the keys "price" and "quantity" both set to 0. You can then compare each item's price and quantity total to the one from "most"

In [ ]:
def most_spent_on_item(cart):
    result = {'price': 0,
           'quantity': 0}
    items = cart['items']
    for item in items:
        result_spent = result['price'] * result['quantity']
        item_spent = item['price'] * item['quantity']
        if item_spent > result_spent:
            result = item
    return result

assert most_spent_on_item(shopping_cart) == {
    "title": "chocolate",
    "price": 0.75,
    "quantity": 9
}
print("Exercise 101 is complete.")